hr {
  border: 1px dotted rgb(38, 38, 236);
}
#name,
#message {
  background-color: rgb(220, 149, 238);
}
.sendname {
  color: rgba(231, 44, 100, 0.884);
}
.display-4 {
  font-weight: 500;
  color: rgb(148, 13, 20);
}